*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* flexbox*/
.menu{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.container{
    background-color: lightgrey;
    border: 10px solid green;
    margin: 10px;
    padding: 50px;
}

header{
    background-color: black;
    width: 100%;
    padding: 10px;
}

.logo, .logo-tira{
    margin-top: 10px;
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.logo img{
   width: 70px; 
   cursor: pointer;
}

.logo-tira img{
    width: 20px; 
    cursor: pointer;
 }
.menu{
    width: 50%;
    
}
nav{
    display: flex;
}

.menu nav a{
    color: blanchedalmond;
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    position: relative;
    
}

.menu nav a::after{
    content: "";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #fcfcfc, #FF7100);
    position: absolute;
    top: 20px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
    
}

h1{
    text-align: center;
}

.container-gallery{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
  
div.gallery:hover {
    border: 2px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: 100px;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}


.rodape{
    background-color: #f36e20;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: white;
}
.rodape-direitos{    
    background-color: black;
    padding: 10px;
    margin: 0px;
    text-align: center;
}


